*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #d5e1ef;
}

.card{
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    border-radius: 20px;
    width: 300px;
    margin: 150px auto 70px;
    padding: 20px;
    text-align: center;
}

.card img{
    width:100%;
    border-radius: 10px;
    margin-bottom: 10px;
}
.card header{
    font-weight: bolder;
    font-size: 20px;
    margin: 20px 0;
}

.card article{
    color: #9b9ba2;
    font-size: 15px;
    margin-bottom: 15px;
}