*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #1e1e1e;
}

main{
    width: 550px;
    height: 450px;
}

header{
    background-color: #d1d1d1;
    width: fit-content;
    font-size: 1.5rem;
    padding: 10px 30px;
    margin: 20px auto;
    border-radius: 15px;
    font-weight: bold;
}

section{
    display: flex;
    flex-direction: column;
    background-color: #d1d1d1;
    width: 100%;
    height: 350px;
    padding: 20px 10%;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0 0 20px;
}

section article{
    font-size: 1.3rem;
    line-height: 1.5;
    margin: 20px 0;
}

section .person-name{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #555555;
}

.button-container button{
    padding: 5px 30px;
    border: none;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 20px;
    margin: 20px 0;
    color: #d1d1d1;
    background-color: #1e1e1e;
    cursor: pointer;
}

.button-container button:hover{
    color: #d1d1d1;
    background-color: #3c3c3c;
}
.button-container button:active{
    color: #d1d1d1;
    background-color: #1e1e1e;
}